button {
        width: 60;
        height: 60;
        font-size: 25;
        font-style: italic;
        border: solid;
        border-radius: 20%;

}
.cal{
        height: 60;
        width: 60;
       
}
 
 body{
        padding: 3%;
        padding-left: 35%;
        align-self: center;

 }     
.textinput {
        width: 260;
        height: 50;
        border: 5%;
        
        font-size: 25;
        background-attachment: fixed;
        border-color: rgb(0, 7, 8);
        border-radius: 5%;
        color: #00170d;
}
      
.main {
        position:  absolute;
        border: solid;

        border-radius: 5%;
        font-style: italic;
        font-size: small;
        align-self: center;
      
       
        background: linear-gradient(rgb(147, 232, 253), rgb(92, 0, 128));
}
h1{
        size: 5%;
        align-self: center;
        color: aliceblue;
}
p{
        color: aliceblue;
        align-self: center;
        margin-top: auto;
}
